* {
  margin: 0 !important;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-131616: #131616;
  --color-31353a: #31353a;
  --color-febd69: #A45EE5;
  --color-232f3e: #232f3e;
  --color-bf4800: #bf4800;
  --color-f0f0f0: #f0f0f0;
  --color-ededed: #ededed;
  --color-777777: #777777;
  --color-bf4800: #bf4800;
  --color-1c1c1b: #1c1c1b;
  --color-eaeaea: #eaeaea;
}
.card-wrapper {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}
body {
  font-family: "Rubik", sans-serif;
  font-size: medium;
}
a, Link {
  text-decoration: none !important; 
  display: inline-block;
}
.form-control:focus {
  box-shadow: none;
  border-color: var(--color-febd69);
}
.gap-5 {
  gap: 5px;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-20 {
  gap: 20px;
}
.gap-30 {
  gap: 30px;
}
.button {
  background-color: var(--color-232f3e);
  color: white;
  padding: 8px 22px;
  border-radius: 20px;
  font-size: medium;
}
.button:hover {
  background-color: var(--color-febd69);
  text-decoration: none;
  color: #131616;
}


/* Header Part */
header {
  min-width: 1000px;
}
/* .header-top-strip {
  background-color: var(--color-131616);
  border-bottom: 1px solid var(--color- 31353a);
  font-size: 14px;
} */
.header-upper {
  background-color: var(--color-131616);
  font-size: 14px;
}
.header-upper .input-group-text {
  background-color: var(--color-febd69);
  position: relative;
  border-radius: 0 10% 10% 0;
  border-color: var(--color-febd69);
  color: var(--color-131616);
}

.header-upper .input-group .form-control {
  border-radius: 0.3rem 0 0 0.3rem;
}
.image {
  width: 30px !important;
  height: 30px !important;
}
.cart{
  width: 40px !important;
  height: 40px !important;
  color: var(--color-febd69);
}
.header-bottom {
  background-color: var(--color-232f3e);
}
.header-bottom .menu-links a,
.header-bottom .dropdown button {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3;
}

.header-bottom .dropdown button:focus {
  box-shadow: none;
}
.header-bottom .dropdown-menu {
  background-color: var(--color-131616);
  width: 100%;
  transform: translate3d(0px 57px 0px) !important;
}
.header-bottom .dropdown-item:hover {
  background-color: transparent;
  color: var(--color-febd69) !important;
}
.header-bottom .dropdown-item {
  padding: 10px;
  margin-bottom: 1px !important;
  border-bottom: 1px solid var(--color- 31353a);
}
/* Header Part End Here*/

/* Footer part */

footer {
  background-color: var(--color-232f3e);
}
footer:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
footer .input-group-text {
  background-color: var(--color-232f3e);
  position: relative;
  padding: 8px 17px;
  border-radius: 0 0.3rem 0.3rem 0;
  color: white;
}
footer .input-group .form-control {
  border-radius: 0.3rem 0 0 0.3rem;
}

/* Footer Part End Here*/

/* Home Page*/
.main-banner-content {
  top: 15%;
  left: 10%;
}
.main-banner img {
  border-radius: 10px;
}
.main-banner-content h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0 0 10px !important;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.main-banner-content h5 {
  font-size: 42px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: -2px;
  text-transform: none;
}
.main-banner-content p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.4px;
  color: var(--color-131616);
}
.small-banner-content {
  top: 15%;
  left: 5%;
}
.small-banner-content h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0 0 10px !important;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.small-banner-content h5 {
  font-size: 22px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -1px;
  text-transform: none;
}
.small-banner-content p {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.4px;
  color: var(--color-131616);
}
.small-banner {
  width: 49%;
}
.small-banner img {
  border-radius: 10px;
}
/* home-wrapper-2*/
.home-wrapper-2 {
  background-color: var(--color-f0f0f0);
}
/* home-wrapper-2 End Here*/

/* home-wrapper-3 */
.categories {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}
.categories > div {
  width: 25%;
  padding: 10px 10px 10px 20px;
}
.categories > div > div {
  width: 50%;
}
.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(4) {
  border-bottom: 1px solid var(--color-ededed);
}
.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3) {
  border-right: 1px solid var(--color-ededed);
}
.categories > div:nth-child(5),
.categories > div:nth-child(6),
.categories > div:nth-child(7) {
  border-right: 1px solid var(--color-ededed);
}
/* home-wrapper-3 End Here*/

/* Blog part*/
.blog-card {
  background-color: white;
  border-radius: 10px;
}
.blog-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.blog-content {
  padding: 15px;
}
.blog-content p.date {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0;
  font-weight: 400;
  color: var(--color-777777);
  padding: 0;
}
.blog-content h5 {
  font-size: 18px;
  color: var(--color-131616);
}
.blog-content p.desc {
  font-size: 13px;
  line-height: 20px;
  color: var(--color-777777);
}
.section-heading {
  font-size: 30px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 30px !important;
}
.single-block-card h3{
  font-size: 24px;
  font-weight: 600;
  color: var(--color-1c1c1b);
}
.single-block-card p{
  font-size: 14px;
  color: var(--color-777777);

}
.single-blog-card a{
  font-size: 18px;
  color: var(--color-777777);
  margin-bottom: 20px !important;
}
/* Blog part Ends Here*/
/* Product part */
.product-card {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}
.product-card:hover .action-bar {
  right: 14px;
}
.product-card:hover,
.product-details {
  text-decoration: none;
  color: inherit;
}
.product-card .product-details h6 {
  font-size: 13px;
  color: var(--color-bf4800);
}

.product-card .product-details h5 {
  font-size: 15px;
  color: var(--color-1c1c1b);
}
.product-card .product-details .price {
  font-size: 16px;
  color: var(--color-1c1c1b);
}
.product-card p.description{
  font-size: 13px;
  color: var(--color-777777);
  margin-right: 20px !important;
}
.action-bar {
  top: 10%;
  right: -35px;
  transition: 0.3s;
}
.wishlist-icon {
  top: 2%;
  right: 15px;
}
/* Product part Ends Here*/

/*special-product-card part*/
.special-product-card{
  padding: 20px 10px;
  border-radius: 10px;
  background-color: white;
}
/*special-product-card part end here*/

/*famous wrapper part*/
.famous-card .famous-content{
  top: 10%;
  left: 5%;
}
.famous-card  img{
  border-radius: 10px;
}
.famous-content h5{
  font-size: 13px;
  line-height: 20px;
  font-weight: 400px;
  color: white;
  margin-bottom: 7px !important;
  text-transform: uppercase;
}
.famous-content h6{
  font-size: 25px;
  line-height: 38px;
  font-weight: 500;
  color: white;
}
.famous-content p{
  font-size: 16px;
  line-height: 24px;
  font-weight: 100;
  color: white;
}
/*famous wrapper part ends here*/
/* Home Page Ends Here*/


/* Our Store Page*/
.filter-card{
  border-radius: 10px;
  padding: 15px 15px 25px !important;
  background-color: white;
  padding: 15px 15px 25px;
}

.filter-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 20px !important;
}
.filter-card ul, .filter-card .form-check-label{
  list-style-type: none;
  font-size: 13px;
  line-height: 30px;
  color: var(--color-777777);
  cursor: pointer;
}
.filter-card .form-check-input:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.25);
}
.filter-card .form-check  .form-check-input:checked{
  background-color: var(--color-febd69);
  border-color: var(--color-febd69);
  outline: none;
}

.sub-title{
  font-size: 14px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 10px !important;
  margin-top: 20px !important;
}
.form-check-label{
  padding: 0px !important;
  margin: 0px 0px !important;  
}
.colors{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.colors li{
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}
.random-products h5{
  font-size: 14px;
  margin-bottom: 8px !important;
}
.random-products:first-child{
  border-bottom: 1px solid var(--color-ededed);
}
.filter-sort-grid{
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}
.grid img{
  width: 30px;
  height: 30px;
  background-color: #f2f2f2;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
}
.gr-12{
  width: 100%;
}
.gr-6{
  width: 49%;
}
.gr-4{
  width: 32%;
}
.gr-3{
  width: 24%;
}
.gr-12 .product-card{
  display: flex;
  gap: 20px;
}
.gr-6 .product-image{
  width: 100%;
}
.gr-6 .product-image img{
  margin: auto !important;
  display: block;
}
.gr-12 .product-card .product-image{
  width: 270px;
  height: auto;
}
.gr-12 .action-bar{
  top: 18%;
}

/* Our Store Ends Here*/
 
/* Contact Page*/
.contact-inner-wrapper{
  padding:25px 20px;
  border-radius: 15px;
  background-color: white;
  gap: 15px;
}
.contact-inner-wrapper >div{
  width: 48%;
}
.contact-title{
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
}
.contact-inner-wrapper form .form-control{
  background-color: var(--color-f5f5f7);
  background-color: var(--color-f0f0f0);
  border-radius: 10px;
  border-color:transparent ;
  padding: 10px;
}
.contact-inner-wrapper ul{
  list-style: none;
}
.contact-inner-wrapper address, .contact-inner-wrapper a, .contact-inner-wrapper p{
  color: var(--color-777777);
}

/* Contact Page Ends Here*/
/* Contact Page Ends Here*/

/* Compare Product Page*/
.compare-product-card{
  padding: 20px 15px;
  background-color: white;
  border-radius: 10px;
}
.compare-product-card .cross,.wishlist-card .cross{
  top: 15px;
  right: 15px;
  width: 25px;
  padding: 3px;
  cursor: pointer;
}
.compare-product-details h5.title, .wishlist-card h5.title{
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: var(--color-1c1c1b);
}
.compare-product-details h6.price, .wishlist-card h5.price{
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
}
.compare-product-card .product-detail{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  border-top:1px solid rgba(0,0, 0, 0.1);
}

/* Compare Product  Page Ends Here*/
/* awth card*/
.awth-card{
  padding: 20px;
  background-color: white;
  width: 500px;
  margin:30px auto !important;
  border-radius: 10px;
}
.awth-card h3{
  font-size: 22px;
  font-weight: 500;
  color: var(--color-777777);
}
.awth-card .form-control{
  height: 50px;
  background-color: var(--color-f0f0f0);
  color: var(--color-131616);
  font-size: 14px;
  border-radius: 10px;
  border-color: transparent;
}
.awth-card .forgot{
  font-size: 14px;
  font-weight: 500;
  color: var(--color-1c1c1b);
}
.sign-up{
  background-color: var(--color-febd69);
  color: var(--color-131616) !important;
}
.sign-up:hover{
  background-color: var(--color-232f3e);
  color: white !important;
}
.awth-card p{
  font-size: 13px;
  color: var(--color-777777);
}
/* awth card Ends Here*/

/* Policy Pages*/
.policy{
  background-color: white;
  padding: 30px;
}
/* Policy Page Ends*/

/* Main Product Page*/
.underline{
  text-decoration: underline !important;
}
.description-wrapper h4, .reviews-wrapper h3{
  font-size: 26px;
  color: var(--color-1c1c1b);
  margin-bottom: 10px !important;
}
.description-wrapper p{
  font-size: 14px;
  color: var(--color-777777);
}
.review-inner-wrapper{
  background-color: white;
  padding: 30px;
}
.review-head {
border-bottom: 1px solid rgba(0, 0, 0, 0.1);
padding-bottom: 20px;
}
.review-head h4{
font-size: 18px;
color: var(--color-1c1c1b);
}
.review-head p,
.review-head a{
font-size: 14px;
color: var(--color-777777);
margin-bottom: 0px !important;

}
.review-form h4{
  font-size: 16px;
  color: var(--color-777777);
}
.review-form{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.review:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.review p{
  font-size: 15px;
  color: var(--color-777777);
}
.main-product-image{
 padding: 20px;
 background-color: white;
 border-radius: 10px; 
}
.main-product-image>div{
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.main-product-image img{
  width: 100% !important;
  height: 500px !important;
  object-fit: cover;
}
.other-product-image{
  background-color: white;
  padding: 20px;
}
.other-product-image>div{
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  width: 48%;
}
.main-product-image .js-image-zoom__zoomed-image{
  left: 130px !important;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  z-index: 200;
}

.main-product-image .js-image-zoom__zoomed-area{
  width:300px !important ;
  height:206px !important ;
}
.main-product-details{
  padding: 30px 20px;
  background-color: white;
  border-radius: 10px;
}
.border-bottom{
  border-bottom: 1px solid rgba(0,0, 0, 0.25);
}
.main-product-details h3.title{
  font-size: 18px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 10px !important;
}
.main-product-details p.price{
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 10px !important;
}
.main-product-details a.review-button, .t-review{
  color: var(--color-777777);
  font-size: 13px;
}
.product-heading{
font-size: 14px;
color: var(--color-1c1c1b);
margin-bottom: 1px !important;
}
.product-data{
  font-size: 13px;
  color: #777777;
  margin-bottom: 0px !important;
}
.main-product-details a {
  font-size: 14px;
  color: var(--color-777777);
}
.font{
  font-size: 20px;
  padding-bottom: 1px !important;
}
.fontLarge{
  font-size: 22px;
  padding-bottom: 1px !important;
}
/* Main Product Page Ends*/
/* Cart Page */
.cart-header, .cart-data{
  border-bottom: 1px solid var(--color-eaeaea);
}
.cart-header h4{
  font-size: 13px;
  color: var(--color-777777);
}
.cart-col-1{
  width: 40%;
}
.cart-col-1 p{
  color: var(--color-777777);
  font-size: 14px;
}
.cart-col-2{
  width: 15%;
}
.cart-col-3{
  width: 20%;
}
.cart-col-4{
  width:20%;
}
.cart-data h5.price{
  font-size: 14px;
  color: var(--color-1c1c1b);
}
.cart-data h4.subTotal{
  font-size: 16px;
}
/* Cart Page Ends*/

/* Checkout Page*/
.breadcrumb-item+.breadcrumb-item::before {
  content: ">";
}
.breadcrumb{
  background-color: transparent;
  padding-left: 0px !important;
}

/* Checkout Page Ends*/

/* Shipping Page*/
.total{
  font-size: 14px;
  color: var(--color-777777);
}
.total-price{
  font-size: 16px;
  color: var(--color-1c1c1b);
}
.Imgs{
  border-radius: 5px;
}
/* Shipping Page Ends*/
